
.ant-menu-inline {
    padding: 0 7px;
    
}

.anticon, .anticon-swap, .ant-menu-item-icon{
    margin-left: -8px;
}
.center-sidebar li{
    color: orange;
    
}

.NavBar {
    height: 100vh;
    background: #ffffff;
  }
  @media screen and (min-width:992px){
    .ant-layout-sider,
    .ant-layout-sider-dark,
    .NavBar {
      flex: 0 0 200px !important;
      max-width: 70px !important;
      min-width: 50px !important;
      width: 200px !important;
    }
  }
  
  .Logo img {
    width: 70px;
    height: 70px;
  }

  .middleIcon img {
    width: 40px;
    height: 80px;
  }
  .ant-menu-item,
  .ant-menu-item-only-child {
    padding-left: 0px !important;
  }
  .ant-menu-item,
  .ant-menu-item-only-child,
  .one {
    padding-left: 0px !important;
  }
  .bottomIcon {
    width: 50px;
    height: 80px;
    margin: 6rem 15px;

  }
  .bottomIcon img {
    margin-top: 15px;
    margin-right: 25px;
  }
  

  .Mainlogo{
    font-size: 880px !important;

}
.ant-layout-sider-zero-width-trigger{
    top: 5px;
}
.sidebar{
    background-color:#ffffff;
   
}