
.Cards {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    margin-top: 14px;
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:1520px) {
    .Cards {
        grid-template-columns: auto auto  auto;
    }
}
@media screen and (max-width:1200px) {
    .Cards {
        grid-template-columns: auto auto ;
    }
}

@media screen and (max-width:560px) {
    .Cards {
        grid-template-columns: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card{
        width: 800px;
    }
}
 .ant-card, .ant-card-bordered{
    border-radius: 19px;
 }
.ant-card-body {
    padding: 10px;
}
h3{
    font-size: 15px;
}
.title{
    font-weight: 700;
    color: #002F68;
}
.description{
    font-size: 12px;
    color: #5C83B1;

}
.content1{
    font-weight: 400;
}
.ant-card:hover{
border: 2px solid #2b78d4;

}
.ant-layout-content, .site-layout-background{
    background-color: #F4F9FF;
}

 .hover-para{
    font-size: 13px;
    color: #7D7D7D;
 }
 .ant-btn, .ant-btn-primary{
    float: right;
    margin-top: 14px;
    border-radius: 5px;
 }
  .viewDetails{
    padding: 4px 24px !important;
 } 


 .textarea.ant-input {
    max-width: 117% !important;
 }
 .hover-content{
    display: none;
 }
 .ant-card:hover .hover-content{
    display: block;
 }
 
 .beforeHover, .avatar{
    display: block;
 }
 .ant-card:hover .beforeHover{
    display: none;
 }
 .ant-card:hover .avatar{
    display: none;
 }