.ant-input {
    border-left: none;
}
h2{
    color: #212121;
    font-weight: 600;
    font-size: 22px;
   
}
@media screen and (max-width:992px) {
    h2{
        text-align: center;
    }
}

@media screen and (min-width:560px) {
    .button{
    margin-top: -25px;
    }
}