.ant-input {
    border-left: none;
    width: 80%;
   padding: 8px  0;
   border-radius: 5px ;
}

h2{
    color: #212121;
    font-weight: 700;
    font-size: 23px;
   
}
@media screen and (max-width:992px) {
    h2{
        text-align: center;
    }
}

@media screen and (min-width:560px) {
    .button{
    margin-top: -25px;
    }
}